<h2>Recently Added</h2>
<div>
  <% memos.forEach(memo => { %>
  <a href="/memos/<%= memo.id %>">
    <div><%= memo.title %></div>
    <img height="150" width="100" src="<%= memo.filesUploadPath %>" />
  </a>
  <% }); %>
</div>
